<!-- /snippets/breadcrumb.liquid -->
{% comment %}
  Documentation - http://docs.shopify.com/support/your-website/navigation/creating-a-breadcrumb-navigation
{% endcomment %}
{% unless template == 'index' %}
    <nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
    
      {% if template contains 'product' %}
        {% if product.metafields.custom.breadcrumb_metaobject != blank %}
            {% if product.metafields.custom.breadcrumb_metaobject.value != blank %}
            {% if product.metafields.custom.breadcrumb_metaobject.value.collection_list != blank %}
            {% if product.metafields.custom.breadcrumb_metaobject.value.collection_list.value != blank %}
            <a href="{{ routes.root_url }}" style="text-transform:capitalize;" title="Back to the frontpage">Home</a>
            {%- assign first_link = nil -%}
            {%- assign first_name = nil -%}
            {%- assign second_link = nil -%}
            {%- assign second_name = nil -%}
            {%- for c in product.metafields.custom.breadcrumb_metaobject.value.collection_list.value %}
                <a href="{{c.url}}" title="{{c.title}}">- {{ c.title }}</a>
            {%- if forloop.index0 == 0 -%} {%- assign first_link = c.url -%}{%- assign first_name = c.title -%} {%- endif -%}
            {%- if forloop.index0 == 1 -%} {%- assign second_link = c.url -%}{%- assign second_name = c.title -%} {%- endif -%}
            {%- endfor -%}

            <script type="application/ld+json">
            {
            "@context": "https://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [
                {
                    "@type": "ListItem",
                    "position": 1,
                    "name": "Home",
                    "item": "https://htgtfurniture.com"
                }{% if first_link %},
                {
                    "@type": "ListItem",
                    "position": 2,
                    "name": "{{ first_name }}",
                    "item": "https://htgtfurniture.com{{ first_link }}"
                }{% endif %}{% if second_link %},
                {
                    "@type": "ListItem",
                    "position": 3,
                    "name": "{{ second_name }}",
                    "item": "https://htgtfurniture.com{{ second_link }}"
                }{% endif %}
            ]
            }
            </script>


            {% comment %} {% if found_collection %}
            <span aria-hidden="true">&rsaquo;</span>
            {% if collection_to_feature.handle %}
                {% capture url %}/collections/{{ collection_to_feature.handle }}{% endcapture %}
                <a href={{url}} style="text-transform:capitalize">{{ collection_to_feature.title | capitalize }}</a>
            {% endif %}
            {% endif %}
            <span aria-hidden="true">&rsaquo;</span> {% endcomment %}
            {% endif %}
            {% endif %}
            {% endif %}
        {% endif %}
    
      {% elsif template contains 'collection' and collection.handle %}
    
        <span aria-hidden="true">&rsaquo;</span>
        {% if current_tags %}
          {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
          <a href={{url}} style="text-transform:capitalize">{{ collection.title | capitalize }}</a>
          <span aria-hidden="true">&rsaquo;</span>
          <span>{{ current_tags | join: " + " | replace: "_", " " }}</span>
        {% else %}
          <span style="text-transform:capitalize;">{{ collection.title }}</span>
        {% endif %}
    
      {% elsif template == 'blog' %}
    
        <span aria-hidden="true">&rsaquo;</span>
        {% if current_tags %}
           <a href={{blog.url}} style="text-transform:capitalize">{{ blog.title | capitalize }}</a>
          <span aria-hidden="true">&rsaquo;</span>
          <span>{{ current_tags | join: " + " | replace: "_", " " }}</span>
        {% else %}
        <span>{{ blog.title }}</span>
        {% endif %}
    
      {% elsif template == 'article' %}
    
        <span aria-hidden="true">&rsaquo;</span>
        <a href={{blog.url}} style="text-transform:capitalize">{{ blog.title | capitalize }}</a>
        <span aria-hidden="true">&rsaquo;</span>
        <span style="text-transform:capitalize">{{ article.title }}</span>
    
      {% elsif template contains 'page' %}
    
       <span aria-hidden="true">&rsaquo;</span>
       <span style="text-transform:capitalize">{{ page.title }}</span>
    
      {% elsif template contains 'search' %}
    
        <span aria-hidden="true">&rsaquo;</span>
        <span style="text-transform:capitalize">{{ page_title }}</span>
    
      {% elsif template == 'customers/addresses' or
               template == 'customers/order' %}
    
        <span aria-hidden="true">&rsaquo;</span>
        <a href="{{ routes.account_url }}">{{ 'customer.account.title' | t }}</a>
        <span aria-hidden="true">&rsaquo;</span>
        <span style="text-transform:capitalize">{{ page_title }}</span>
    
      {% elsif template == 'customers/account' %}
    
        <span aria-hidden="true">&rsaquo;</span>
        <span>{{ 'customer.account.title' | t }}</span>
    
      {% else %}
    
       <span aria-hidden="true">&rsaquo;</span>
       <span style="text-transform:capitalize">{{ page_title }}</span>
    
      {% endif %}
    </nav>
    {% endunless %}
    
