{%- assign raw_dimensions = dimensions | default: '' -%}
{%- if raw_dimensions != '' -%}

  {%- assign has_multiple_sizes = false -%}
  {%- if raw_dimensions contains 'Small:' or raw_dimensions contains 'Medium:' or raw_dimensions contains 'Large:' or raw_dimensions contains 'Chair:' or raw_dimensions contains 'Arm:' or raw_dimensions contains 'Seat:' or raw_dimensions contains 'Shade:' or raw_dimensions contains 'Lamp:' -%}
    {%- assign has_multiple_sizes = true -%}
    {%- assign multiple_dimensions = raw_dimensions | replace: 'Small:', '##SIZE##Small:' | replace: 'Medium:', '##SIZE##Medium:' | replace: 'Large:', '##SIZE##Large:' | replace: 'Arm:', '##SIZE##Arm:' | replace: 'Seat:', '##SIZE##Seat:' | replace: 'Chair:', '##SIZE##Chair:' | replace: 'Shade:', '##SIZE##Shade:' | replace: 'Lamp:', '##SIZE##Lamp:' -%}
    {%- assign size_sets = multiple_dimensions | split: '##SIZE##' -%}
  {%- endif -%}

  {%- if has_multiple_sizes -%}
    {%- for size_set in size_sets -%}
      {%- assign current_set = size_set | strip -%}
      {%- assign size_parts = current_set | split: ':' -%}
      {%- assign size_label = size_parts[0] | strip -%}
      {%- assign dimension_part = size_parts[1] | default: '' | strip -%}
      {%- assign clean_dimensions = dimension_part | replace: '(', '' | replace: ')', '' | replace: 'IN', '' | replace: 'in', '' | strip_html | strip_newlines | strip | upcase -%}
      {%- assign dims = clean_dimensions | split: ' X ' -%}

      <h4>{{ size_label }}</h4>
      <table style="border: 1px solid black !important; border-collapse: collapse; width: 200px; margin-bottom: 20px;">
        <tbody>
          {%- for dim in dims -%}
            {%- assign parts = dim | split: ' ' -%}
            {%- assign value = parts[0] | strip -%}
            {%- assign unit = parts[1] | strip -%}

            {%- if unit == 'W' -%}
              {%- assign label = 'Width' -%}
            {%- elsif unit == 'H' -%}
              {%- assign label = 'Height' -%}
            {%- elsif unit == 'D' -%}
              {%- assign label = 'Depth' -%}
            {%- elsif unit == 'SH' -%}
              {%- assign label = 'Seat Height' -%}
            {%- else -%}
              {%- assign label = unit -%}
            {%- endif -%}

            <tr>
              <td style="width: 100px; background-color: #eee; border: 1px solid black; padding: 8px;">{{ label }}</td>
              <td style="width: 100px; border: 1px solid black; padding: 8px;">{{ value }} inches</td>
            </tr>
          {%- endfor -%}
        </tbody>
      </table>
    {%- endfor -%}

  {%- else -%}
    {%- assign clean_dimensions = raw_dimensions | replace: '(', '' | replace: ')', '' | replace: 'IN', '' | replace: 'in', '' | strip_html | strip_newlines | strip | upcase -%}
    {%- assign dims = clean_dimensions | split: ' X ' -%}

    <table style="border: 1px solid black !important; border-collapse: collapse; width: 250px;">
      <tbody>
        {%- for dim in dims -%}
          {%- assign parts = dim | split: ' ' -%}
          {%- assign value = parts[0] | strip -%}
          {%- assign unit = parts[1] | strip -%}

          {%- if unit == 'W' -%}
            {%- assign label = 'Width' -%}
          {%- elsif unit == 'H' -%}
            {%- assign label = 'Height' -%}
          {%- elsif unit == 'D' -%}
            {%- assign label = 'Depth' -%}
          {%- elsif unit == 'SH' -%}
            {%- assign label = 'Seat Height' -%}
          {%- elsif unit == 'SHADEH' -%}
            {%- assign label = 'Shade Height' -%}
          {%- elsif unit == 'SHADED' -%}
            {%- assign label = 'Shade Diameter' -%}
          {%- elsif unit == 'LAMPH' -%}
            {%- assign label = 'Lamp Height' -%}
          {%- elsif unit == 'LAMPW' -%}
            {%- assign label = 'Lamp Width' -%}
          {%- elsif unit == 'LAMPD' -%}
            {%- assign label = 'Lamp Depth' -%}
          {%- elsif unit == 'DIA.' -%}
            {%- assign label = 'Diameter' -%}
          {%- elsif unit == 'DIA' -%}
            {%- assign label = 'Diameter' -%}
          {%- else -%}
            {%- assign label = unit -%}
          {%- endif -%}

          <tr>
            <td style="width: 100px; background-color: #eee; border: 1px solid black; padding: 8px;">{{ label }}</td>
            <td style="width: 100px; border: 1px solid black; padding: 8px;">{{ value }} inches</td>
          </tr>
        {%- endfor -%}
      </tbody>
    </table>
  {%- endif -%}

{%- endif -%}