{%- liquid
  assign empty_state_title = 'sections.cart.empty' | t
  assign continue_shopping = 'general.continue_shopping' | t
-%}

{% liquid
  assign free_shipping_threshold = settings.slide_cart_free_shipping_threshold | default: 0
  assign free_shipping_enabled = false
  if free_shipping_threshold > 0
    assign free_shipping_enabled = true
  endif
%}
{% liquid
  assign slide_cart_checkout_note = settings.slide_cart_checkout_note | to_s | strip
  assign upsell_collection = settings.slide_cart_upsell_collection
  assign upsell_products_limit = settings.slide_cart_upsell_limit | default: 3
  assign upsell_products_limit = upsell_products_limit | plus: 0
  assign upsell_heading = settings.slide_cart_upsell_heading | default: 'You may also like'
%}

{% if free_shipping_enabled %}
  {% liquid
    assign threshold_cents = free_shipping_threshold | times: 100
    assign subtotal_cents = cart.total_price
    assign remaining_cents = threshold_cents | minus: subtotal_cents
    if remaining_cents < 0
      assign remaining_cents = 0
    endif
    assign progress = 0
    if threshold_cents > 0
      assign progress = subtotal_cents | times: 100 | divided_by: threshold_cents
    endif
    if progress > 100
      assign progress = 100
    endif

    assign locked_message = settings.slide_cart_free_shipping_message_locked | default: '$[amount] to unlock free shipping'
    assign unlocked_message = settings.slide_cart_free_shipping_message_unlocked | default: 'Free shipping unlocked!'
    assign remaining_formatted = remaining_cents | money
    assign free_shipping_message = unlocked_message
    assign meter_state = 'unlocked'
    if remaining_cents > 0
      assign free_shipping_message = locked_message | replace: '[amount]', remaining_formatted
      assign meter_state = 'locked'
    endif
  %}
  <div class="tp-slide-cart__goal-wrapper">
    <div class="tp-slide-cart__goal tp-slide-cart__goal--{{ meter_state }}" data-free-shipping-goal>
      <p class="tp-slide-cart__goal-message">{{ free_shipping_message }}</p>
      <div class="tp-slide-cart__goal-track">
        <div class="tp-slide-cart__goal-bar">
          <span class="tp-slide-cart__goal-progress" style="width: {{ progress }}%"></span>
        </div>
      </div>
    </div>
  </div>
{% endif %}


{%- if cart == empty -%}
  <div class="tp-slide-cart__empty">
    <p class="tp-slide-cart__empty-title">{{ empty_state_title }}</p>
    <a class="hapny_button button button--primary tp-slide-cart__continue" href="{{ routes.all_products_collection_url }}">Shop Best Sellers</a>
  </div>
{%- else -%}
  <form
    action="{{ routes.cart_url }}"
    method="post"
    id="TP-SlideCartForm"
    class="tp-slide-cart__form">
    <ul class="tp-slide-cart__items" role="list">
      {%- for item in cart.items -%}
        <li
          class="tp-slide-cart__item"
          id="SlideCartItem-{{ forloop.index }}"
          data-line="{{ forloop.index }}"
          data-key="{{ item.key }}">
          <div class="tp-slide-cart__media">
            {%- if item.image -%}
              <a href="{{ item.url }}" class="tp-slide-cart__media-link">
                <img
                  src="{{ item.image | image_url: width: 240 }}"
                  alt="{{ item.image.alt | escape }}"
                  loading="lazy"
                  width="120"
                  height="{{ 120 | divided_by: item.image.aspect_ratio | ceil }}">
              </a>
            {%- endif -%}
          </div>
          <div class="tp-slide-cart__details">
            <div class="tp-slide-cart__title">
              <a href="{{ item.url }}" class="tp-slide-cart__product-name">{{ item.product.title | escape }}</a>
            </div>

            {%- if item.product.has_only_default_variant == false or item.properties.size > 0 or item.selling_plan_allocation -%}
              <dl class="tp-slide-cart__meta">
                {%- if item.product.has_only_default_variant == false -%}
                  {%- for option in item.options_with_values -%}
                    <div class="tp-slide-cart__meta-row">
                      <dt class="tp-slide-cart__meta-label visually-hidden">{{ option.name }}</dt>
                      <dd class="tp-slide-cart__meta-value">{{ option.value }}</dd>
                    </div>
                  {%- endfor -%}
                {%- endif -%}

                {%- if item.properties != blank -%}
                  {%- for property in item.properties -%}
                    {%- assign property_first_char = property.first | slice: 0 -%}
                    {%- if property.last != blank and property_first_char != '_' -%}
                      <div class="tp-slide-cart__meta-row">
                        <dt class="tp-slide-cart__meta-label">{{ property.first }}:</dt>
                        <dd class="tp-slide-cart__meta-value">
                          {%- if property.last contains '/uploads/' -%}
                            <a
                              href="{{ property.last }}"
                              target="_blank"
                              rel="noopener">{{ property.last | split: '/' | last }}</a>
                          {%- else -%}
                            {{ property.last }}
                          {%- endif -%}
                        </dd>
                      </div>
                    {%- endif -%}
                  {%- endfor -%}
                {%- endif -%}

                {%- if item.selling_plan_allocation -%}
                  <div class="tp-slide-cart__meta-row">
                    <dt class="tp-slide-cart__meta-label visually-hidden">{{ 'products.product.selling_plan' | t }}</dt>
                    <dd class="tp-slide-cart__meta-value">{{ item.selling_plan_allocation.selling_plan.name }}</dd>
                  </div>
                {%- endif -%}
              </dl>
            {%- endif -%}

            <div class="tp-slide-cart__pricing">
              <div class="tp-slide-cart__price">
                {%- if item.original_price != item.final_price -%}
                  <s class="tp-slide-cart__price--compare">{{ item.original_price | money }}</s>
                  <span class="tp-slide-cart__price--final">{{ item.final_price | money }}</span>
                {%- else -%}
                  <span class="tp-slide-cart__price--final">{{ item.final_price | money }}</span>
                {%- endif -%}
              </div>

              <div class="tp-slide-cart__quantity" data-line="{{ forloop.index }}">
                <label class="visually-hidden" for="SlideCart-Quantity-{{ forloop.index }}">{{ 'products.product.quantity.label' | t }}</label>
                <quantity-input class="quantity quantity--small" style="">
                  <button
                    class="quantity__button"
                    name="minus"
                    type="button">
                    <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: item.product.title | escape }}</span>
                    {% render 'icon-minus' %}
                  </button>
                  <input
                    class="quantity__input"
                    type="number"
                    name="updates[]"
                    value="{{ item.quantity }}"
                    min="0"
                    id="SlideCart-Quantity-{{ forloop.index }}"
                    data-index="{{ forloop.index }}"
                    aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}">
                  <button
                    class="quantity__button"
                    name="plus"
                    type="button">
                    <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: item.product.title | escape }}</span>
                    {% render 'icon-plus' %}
                  </button>
                </quantity-input>

                <button
                  type="button"
                  class="tp-slide-cart__remove"
                  data-remove
                  data-line="{{ forloop.index }}"
                  aria-label="{{ 'sections.cart.remove_title' | t: title: item.product.title }}">
                  {% render 'icon-remove' %}
                </button>
              </div>
            </div>

            {% comment %} <div class="tp-slide-cart__line-price">
                                                                                                                                                                                                                                                                                                                    {%- if item.original_line_price != item.final_line_price -%}
                                                                                                                                                                                                                                                                                                                      <s class="tp-slide-cart__line-price--compare">{{ item.original_line_price | money }}</s>
                                                                                                                                                                                                                                                                                                                      <span class="tp-slide-cart__line-price--final">{{ item.final_line_price | money }}</span>
                                                                                                                                                                                                                                                                                                                    {%- else -%}
                                                                                                                                                                                                                                                                                                                      <span class="tp-slide-cart__line-price--final">{{ item.final_line_price | money }}</span>
                                                                                                                                                                                                                                                                                                                    {%- endif -%}
                                                                                                                                                                                                                                                                        </div> {% endcomment %}

            {%- if item.discounts != blank -%}
              <ul class="tp-slide-cart__discounts" role="list">
                {%- for discount in item.discounts -%}
                  <li class="tp-slide-cart__discount">{% render 'icon-discount' %} {{ discount.title }}</li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
          </div>
        </li>
      {%- endfor -%}
    </ul>


    <div class="tp-slide-cart__footer">


      {%- if cart.cart_level_discount_applications != blank -%}
        {%- assign total_discount = 0 -%}
        {%- for discount_application in cart.cart_level_discount_applications -%}
          {%- assign total_discount = total_discount | plus: discount_application.total_allocated_amount -%}
        {%- endfor -%}
        <div class="tp-slide-cart__subtotal" role="presentation">
          <span>Total discount</span>
          <span>-{{ total_discount | money }}</span>
        </div>
      {%- endif -%}

      <div class="tp-slide-cart__subtotal" role="presentation">
        <span>{{ 'sections.cart.subtotal' | t }}</span>
        <span data-slide-cart-subtotal>{{ cart.total_price | money }}</span>
      </div>

      {%- if cart.cart_level_discount_applications != blank -%}
        <ul class="tp-slide-cart__discounts" role="list">
          {%- for discount_application in cart.cart_level_discount_applications -%}
            <li class="tp-slide-cart__discount">{% render 'icon-discount' %} {{ discount_application.title }} (-{{ discount_application.total_allocated_amount | money }})</li>
          {%- endfor -%}
        </ul>
      {%- endif -%}

      {% unless free_shipping_enabled %}
        <p class="tp-slide-cart__note">As a new customer you qualify for free shipping.</p>
      {% endunless %}

      <div class="tp-slide-cart__discount-entry">
        <div class="tp-slide-cart__discount-form" data-slide-cart-discount-form>
          <label class="visually-hidden" for="SlideCart-Discount">Discount code</label>
          <input
            id="SlideCart-Discount"
            class="tp-slide-cart__discount-input"
            type="text"
            name="discount"
            placeholder="Discount code"
            autocomplete="off"
            inputmode="text">
          <button class="tp-slide-cart__discount-apply" type="button">Apply</button>
        </div>
        <p class="tp-slide-cart__discount-status" data-slide-cart-discount-status aria-live="polite"></p>
      </div>

      <div class="tp-slide-cart__actions">
        <button class="hapny_button button button--primary tp-slide-cart__checkout" name="checkout">{{ 'sections.cart.checkout' | t }}</button>
        {% if slide_cart_checkout_note != blank %}
          <p class="tp-slide-cart__checkout-note">{{ slide_cart_checkout_note }}</p>
        {% endif %}
      </div>
    </div>

    {% if upsell_collection %}
      {% assign upsell_rendered = 0 %}
      {% capture upsell_items %}
        {% for upsell_product in upsell_collection.products %}
          {% if upsell_product.available %}
            {% assign upsell_rendered = upsell_rendered | plus: 1 %}
            {% assign upsell_variant = upsell_product.selected_or_first_available_variant %}
            <article class="tp-slide-cart__upsell-item">
              {% if upsell_product.featured_image %}
                {% assign upsell_image_ratio = upsell_product.featured_image.aspect_ratio | default: 1 %}
                <a class="tp-slide-cart__upsell-media" href="{{ upsell_product.url }}">
                  <img
                    src="{{ upsell_product.featured_image | image_url: width: 180 }}"
                    alt="{{ upsell_product.featured_image.alt | default: upsell_product.title | escape }}"
                    loading="lazy"
                    width="90"
                    height="{{ 90 | divided_by: upsell_image_ratio | ceil }}">
                </a>
              {% endif %}
              <div class="tp-slide-cart__upsell-details">
                <a class="tp-slide-cart__upsell-title" href="{{ upsell_product.url }}">{{ upsell_product.title }}</a>
                <div class="tp-slide-cart__upsell-price">
                  <span class="tp-slide-cart__upsell-price-current">{{ upsell_variant.price | money }}</span>
                  {% if upsell_variant.compare_at_price > upsell_variant.price %}
                    <span class="tp-slide-cart__upsell-price-compare">{{ upsell_variant.compare_at_price | money }}</span>
                  {% endif %}
                </div>
              </div>
              <div class="tp-slide-cart__upsell-actions">
                <button
                  type="button"
                  class="tp-slide-cart__upsell-add button button--secondary"
                  data-upsell-add
                  data-variant-id="{{ upsell_variant.id }}"
                  data-product-title="{{ upsell_product.title | escape }}">
                  {{ 'products.product.add_to_cart' | t }}
                </button>
              </div>
            </article>
            {% if upsell_rendered >= upsell_products_limit %}
              {% break %}
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endcapture %}
      {% if upsell_rendered > 0 %}
        <div class="tp-slide-cart__upsell" data-slide-cart-upsell>
          {% if upsell_heading != blank %}
            <p class="tp-slide-cart__upsell-heading">{{ upsell_heading }}</p>
          {% endif %}
          <div class="tp-slide-cart__upsell-items">
            {{ upsell_items }}
          </div>
        </div>
      {% endif %}
    {% endif %}
  </form>
{%- endif -%}

<style>
  .quantity:after {
    box-shadow: 0 0 0 1px rgba(var(--color-foreground), var(--inputs-border-opacity));
  }
</style>
