<div class="outer-brand-carousel-container page-width">
  {% unless section.settings.title == blank %}
      <div class="title-wrapper-with-link title-wrapper--self-padded-mobile title-wrapper--no-top-margin{% if section.settings.title == blank %} title-wrapper-with-link--no-heading{% endif %}">
        <h2 class="title" style="font-family: {{ section.settings.title_font_family }}; font-size: {{ section.settings.title_font_size }}; color: {{ section.settings.section_text_color }}; margin-bottom: 8px; width: 100%; text-align:{{section.settings.title_alignment}}; padding: {{ section.settings.section_title_padding }}; font-weight: {{ section.settings.section_title_font_weight }}; ">
          {{ section.settings.title | escape }}
        </h2>
        <p style="font-family: {{ section.settings.subtitle_font_family }}; font-size: {{ section.settings.subtitle_font_size }}; color: {{ section.settings.section_text_color }}; width: 100%; margin: 0 auto; text-align: {{section.settings.title_alignment}}; padding: {{ section.settings.section_subtitle_padding }};">
          {{ section.settings.sub_title }}
        </p>
        {%- if section.settings.button_label != blank and section.settings.swipe_on_mobile -%}
          <a href="{{ section.settings.button_link }}" class="link underlined-link large-up-hide">{{ section.settings.button_label | escape }}</a>
        {%- endif -%}
      </div>
    {% endunless %}
  <section class="custom-brand-carousel-container">        
    <div class="swiper mySwiper container">
      <div class="swiper-wrapper content">
        {% for c in section.blocks %}
        <div class="swiper-slide card">
          <div class="card-content">
            <div class="image">
             <img src="{{ c.settings.brand.metafields.custom.company.value.image.value | image_url}}" alt=""> 
            </div>
            <div class="media-icons">
              <i class="fab fa-facebook"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-github"></i>
            </div>
            <div class="name-profession">
              <span class="name">{{ c.settings.brand.metafields.custom.company.value.name.value }}</span>
              <span class="profession">Founded in: {{ c.settings.brand.metafields.custom.company.value.founded_year.value  }}</span>        
            </div>
            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <div class="button_container">
              <a href="{{ c.settings.brand.url }}"><button class="aboutMe">Learn More</button></a>
              {% comment %} <button class="hireMe">Hire Me</button> {% endcomment %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <!-- <div class="swiper-button-prev"></div> -->
    <div class="swiper-pagination"></div>
  </section>
</div>
<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<!-- Initialize Swiper -->
<script>
var swiper = new Swiper(".mySwiper", {
  spaceBetween: 30,
  loop: true,
  loopFillGroupWithBlank: true,
  pagination: {
    el: ".swiper-pagination",
    clickable: true,
  },
breakpoints: {
    0: {
        slidesPerView: 1,
        slidesPerGroup: 1
    },
    768: {
        slidesPerView: 2,
        slidesPerGroup: 2
    },
    1200: {
        slidesPerView: "auto",
        freeMode: false,
        simulateTouch:false, 
        slidesPerView: 3,
        slidesPerGroup: 3
    },
},
navigation: {
nextEl: ".swiper-button-next",
prevEl: ".swiper-button-prev",
},
});
</script>
<!-- ===== Link Swiper's CSS ===== -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<!-- ===== Fontawesome CDN Link ===== -->
<style>
.outer-brand-carousel-container {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-right: {{ section.settings.padding_right | times: 0.75 | round: 0 }}px;
    padding-left: {{ section.settings.padding_left | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .outer-brand-carousel-container {
      padding-top: {{ section.settings.padding_top }}px;
      padding-right: {{ section.settings.padding_right }}px;
      padding-left: {{ section.settings.padding_left }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
.flwr-custom-brand-carousel {
    background: {{ section.settings.section_background_color }};
}
section.custom-brand-carousel-container {
  position: relative;  
  height: auto;  
  margin: 0 auto;
  padding: 0px 0px 40px;
  display: flex;
  align-items: center;
  color: {{ section.settings.header_subheader_color }};  
}
.custom-brand-carousel-container .swiper {
    position: relative;
    width: 90%;
    display: flex;
    align-items: center;
    margin: 0 auto 0 0;
}

.custom-brand-carousel-container .card{
  position: relative;
  background: #fff;
  border-radius: 20px;
  margin: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.custom-brand-carousel-container  .card::before{
  content: "";
  position: absolute;
  height: 40%;
  width: 100%;
  background: {{ section.settings.accent_color_two }};
  border-radius: 20px 20px 0 0;
}

.custom-brand-carousel-container  .card .card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 14px;
  position: relative;
  z-index: 100;
}

.custom-brand-carousel-container .card .image{
  height: 140px;
  width: 140px;
  border-radius: 50%;
  padding: 3px;
  background: {{ section.settings.accent_color }};  
}

.custom-brand-carousel-container  .card .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}

.custom-brand-carousel-container  .card .media-icons{
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-brand-carousel-container .card .media-icons i{
  color: #fff;
  opacity: 0.6;
  margin-top: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.custom-brand-carousel-container .card .media-icons i:hover{
  opacity: 1;
}

.custom-brand-carousel-container .card .name-profession{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  height: 100px;
  justify-content: center;
} 

.custom-brand-carousel-container .name-profession .name {
  font-size: 20px;
  font-weight: 600;
    line-height: 1;
    margin: 10px 0px;
    text-align: center;
}

.custom-brand-carousel-container .name-profession .profession{
  font-size:15px;
  font-weight: 500;
}

.custom-brand-carousel-container .card .rating{
  display: flex;
  align-items: center;
  margin-top: 18px;
}

.custom-brand-carousel-container .card .rating i{
  font-size: 18px;
  margin: 0 2px;
  color: {{ section.settings.section_background_color }};
}

.custom-brand-carousel-container .card .button_container{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.custom-brand-carousel-container .card .button_container button{
  background: {{ section.settings.section_background_color }};
  outline: none;
  border: none;
  color: #fff;
  padding: 8px 22px;
  border-radius: 20px;
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.custom-brand-carousel-container .button_container button:hover{
  background: {{ section.settings.accent_color }};
}

.custom-brand-carousel-container .swiper-pagination{
  position: absolute;
}

.custom-brand-carousel-container .swiper-pagination-bullet{
  height: 7px;
  width: 26px;
  border-radius: 25px;
  background: {{ section.settings.accent_color_two }};
}

.custom-brand-carousel-container .swiper-button-next, .swiper-button-prev{
  display: block !important;
  opacity: 0.7;
  color: {{ section.settings.accent_color_two }};
  transition: all 0.3s ease;
}
.custom-brand-carousel-container .swiper-button-next:hover, .swiper-button-prev:hover{
  opacity: 1;
  color: {{ section.settings.accent_color_two }};
}
@media screen and (max-width: 700px) {
  .custom-brand-carousel-container .swiper {
    width: 90%;    
  }
  .custom-brand-carousel-container .swiper-button-next {
    display: block !important;
    opacity: 0.7;
    color: #0c2a4a;
    transition: all 0.3s ease;
    position: absolute;
    right: -10px;
}
}
</style>
  {% schema %}
      {
      "name": "Custom Brand Carousel",
      "class": "flwr-custom-brand-carousel",
      "settings": [            
      {
          "type": "header",
          "content": "Card Setting"
      },
      {
          "type": "color",
          "id": "header_subheader_color",
          "label": "Card Header & Subheader Color",
          "default": "#000000"
      },
      {
          "type": "color",
          "id": "accent_color",
          "label": "Accent Color",
          "default": "#99aff2"
      },
      {
          "type": "color",
          "id": "accent_color_two",
          "label": "Accent Color",
          "default": "#0C2A4A"
      },
      {
          "type": "header",
          "content": "Module Global Settings"
      },
      {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Section Padding Top",
      "default": 0
      },
      {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Section Padding Buttom",
      "default": 0
      },
      {
      "type": "range",
      "id": "padding_right",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Section Padding Right",
      "default": 0
      },
      {
      "type": "range",
      "id": "padding_left",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "section Padding Left",
      "default": 0
      },
      {
      "type": "range",
      "id": "max_height_desktop",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "%",
      "label": "Max Height of Module on Desktop",
      "default": 80,
      "info": "Max height of module as a % of vertical height"
      },
      {
          "type": "range",
          "id": "mobile_max_height_desktop",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "%",
          "label": "Max Height of Module on Mobile",
          "default": 90,
          "info": "Mobile: Max height of module as a % of vertical height"
      },
      {
      "type": "header",
      "content": "Other Unused Settings",
      "info": "Most of these are neve used"
      },    
      {
      "type": "checkbox",
      "id": "enabled_border",
      "label": "Enable Border?"
      },
      {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "Swipe on Mobile"
      },    
      {
        "type": "header",
        "content": "Column Content Settings",
        "info": "Control the information with in the columns"
      },
      {
        "type": "select",
        "id": "image_width",
        "options": [
          {
            "value": "third",
            "label": "third width"
          },
          {
            "value": "half",
            "label": "half of width"
          },
          {
            "value": "full",
            "label": "full width"
          }
        ],
        "default": "full",
        "label": "width of image"
      },
      {
        "type": "select",
        "id": "column_alignment",
        "options": [
          {
            "value": "left",
            "label": "Align Column Content Left"
          },
          {
            "value": "center",
            "label": "Align Column Content Center"
          }
        ],
        "default": "left",
        "label": "Column Content Alignment"
      },
      {
        "type": "text",
        "id": "column_gap",     
        "label": "Column Gap Pixels",
        "default": "0px"
      }, 
      {
        "type": "header",
        "content": "Overall Module Button Settings",
        "info": "Live below the column content"
      },
      {
          "type": "text",
          "id": "button_padding",
          "label": "Button Padding",
          "default": "10px 20px"
      },
      {
          "type": "text",
          "id": "hero_button_font_family",
          "label": "Button Font Family",
          "default": "'Helvetica Neue'"
        },
        {
          "type": "text",
          "id": "hero_button_font_size",
          "label": "Button Font Size",
          "default": "18px"
        }, 
        {
          "type": "text",
          "id": "hero_button_font_weight",
          "label": "Button Font Weight",
          "default": "400"
        },        
        {
            "type": "text",
            "id": "button_border_radius",
            "label": "Button Border Radius",
            "default": "0px",
            "info": "0px would be square corners, 4px would be slightly rounded, 20px would be a lot more rounded."
        },
        {
          "type": "color",
          "id": "button_border_color",
          "label": "Button Border",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "button_background_color",
          "label": "Button Background Color",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "button_text_color",
          "label": "Button Text Color",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "button_border_color_hover",
          "label": "HOVER: Button Border/Text Color",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "button_background_color_hover",
          "label": "HOVER: Button Background Color",
          "default": "#000000"
        },
      {
          "type": "color",
          "id": "button_text_color_hover",
          "label": "HOVER: Button Text Color",
          "default": "#ffffff"
      },
      {
          "type": "header",
          "content": "Optional Button - Below Main Column Content",
          "info": "Live below the column content"
      },
      {
          "type": "text",
          "id": "button_label",
          "label": "Button Text"
      },
      {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
      },
      {
          "type": "header",
          "content": "Optional Title/Subtitle - Above Main Content",
          "info": "This section is for the title that is the overall title across all columns. "
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "title_font_size",
          "default": "56px",
          "label": "Title Font Size"
        },
        {
          "type": "text",
          "id": "title_font_family",
          "default": "'Helvetica Neue'",
          "label": "Title Font Family"
        },
        {
          "type": "text",
          "id": "section_title_font_weight",
          "default": "400",
          "label": "Title Font Weight"
        },
        {
          "type": "text",
          "id": "section_title_padding",
          "default": "0px",
          "label": "Title Padding"
        },
        {
          "type": "header",
          "content": "Sub-Header for Module",
          "info": "This section is for the substitle (under the title) that is the overall title across all columns. "
        },
        {
          "type": "text",
          "id": "sub_title",
          "label": "Subtitle Text"
        },
        {
          "type": "text",
          "id": "subtitle_font_size",
          "default": "20px",
          "label": "Subtitle Font Size"
        },
        {
          "type": "text",
          "id": "section_subtitle_padding",
          "default": "0px",
          "label": "Subtitle Padding"
        },
        {
          "type": "text",
          "id": "subtitle_font_family",
          "default": "'Helvetica Neue'",
          "label": "Subtitle Font Family"
        },
        {
          "type": "text",
          "id": "subtitle_font_weight",
          "default": "700",
          "label": "Subtitle Font Weight"
        },
        {
          "type": "header",
          "content": "Overall Title and Subtitle Text Settings"
        },
        {
        "type": "range",
        "id": "overall_titles_margin_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Section Title Margin Top",
        "default": 0
        },
        {
        "type": "range",
        "id": "overall_titles_margin_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Section Title Margin Buttom",
        "default": 0
        },
        {
        "type": "range",
        "id": "overall_titles_margin_right",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Section Title Margin Right",
        "default": 0
        },
        {
        "type": "range",
        "id": "overall_titles_margin_left",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Section Title Margin Left",
        "default": 0
        },
        {
          "type": "select",
          "id": "title_alignment",
          "options": [
            {
              "value": "left",
              "label": "Left Aligned"
            },
            {
              "value": "center",
              "label": "Center Aligned"
            },
            {
              "value": "right",
              "label": "Right Aligned"
            }
          ],
          "default": "left",
          "label": "Alignment"
        },
        {
          "type": "color",
          "id": "section_text_color",     
          "default": "#000000",
          "label": "Text Color"
        },
        {
          "type": "header",
          "content": "Whole Module Background Settings"
        },
        {
          "type": "text",
          "id": "overall_background_image_url",
          "label": "Overall Background Image URL"
        },
        {
          "type": "color",
          "id": "section_background_color",     
          "default": "#ffffff",
          "label": "Background Color"
        }
    ],
    "blocks": [        
        {
            "type": "carousel_card",
            "name": "carousel_card",
            "settings": [                
                {
                    "type": "header",
                    "content": "Card",
                    "info": "Settings for the card."
                },
                {
                    "type": "article",
                    "id": "brand",
                    "label": "Brand"
                }
            ]
        }
    ],
    "presets": [
      {
        "name": "custom-brand-carousel"
      }
    ]
  }
  {% endschema %}
  