{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}

{%- style -%}
  h1.collection-hero__title {
    {% if section.settings.font_family %} font-family: {{ section.settings.font_family }}; {% endif %}
    {% if section.settings.font_weight %} font-weight: {{ section.settings.font_weight }}; {% endif %}
    {% if section.settings.desktop_font_size %} font-size: {{ section.settings.desktop_font_size }}; {% endif %}    
  }
  .collection-hero {
    {% if section.settings.margin_top %} margin-top: {{ section.settings.margin_top }}; {% endif %}
    {% if section.settings.margin_right %} margin-right: {{ section.settings.margin_right }}; {% endif %}
    {% if section.settings.margin_bottom %} margin-bottom: {{ section.settings.margin_bottom }}; {% endif %}
    {% if section.settings.margin_left %} margin-left: {{ section.settings.margin_left }}; {% endif %}
  }

  @media screen and (max-width: 749px) {
    .collection-hero--with-image .collection-hero__inner {
      padding-bottom: calc({{ settings.media_shadow_vertical_offset | at_least: 0 }}px + 2rem);
    }
    h1.collection-hero__title {
      {% if section.settings.mobile_font_size %} font-size: {{ section.settings.mobile_font_size }}; {% endif %}      
    }
    .collection-hero {
      {% if section.settings.mobile_margin_top %} margin-top: {{ section.settings.mobile_margin_top }}; {% endif %}
      {% if section.settings.mobile_margin_right %} margin-right: {{ section.settings.mobile_margin_right }}; {% endif %}
      {% if section.settings.mobile_margin_bottom %} margin-bottom: {{ section.settings.mobile_margin_bottom }}; {% endif %}
      {% if section.settings.mobile_margin_left %} margin-left: {{ section.settings.mobile_margin_left }}; {% endif %}
    }
  }
{%- endstyle -%}

<div class="collection-hero{% if section.settings.show_collection_image and collection.image %} collection-hero--with-image{% endif %}  gradient">
  <div class="collection-hero__inner page-width">
    <div class="collection-hero__text-wrapper">
      <h1 class="collection-hero__title">
        <span class="visually-hidden">{{ 'sections.collection_template.title' | t }}: </span>
        {{- collection.title | escape -}}
      </h1>

      {%- if section.settings.show_collection_description -%}
        <div class="collection-hero__description rte">{{ collection.description }}</div>
      {%- endif -%}
    </div>

    {%- if section.settings.show_collection_image and collection.image -%}
      <div class="collection-hero__image-container media gradient">
        <img
          srcset="{%- if collection.image.width >= 165 -%}{{ collection.image | image_url: width: 165 }} 165w,{%- endif -%}
            {%- if collection.image.width >= 360 -%}{{ collection.image | image_url: width: 360 }} 360w,{%- endif -%}
            {%- if collection.image.width >= 535 -%}{{ collection.image | image_url: width: 535 }} 535w,{%- endif -%}
            {%- if collection.image.width >= 750 -%}{{ collection.image | image_url: width: 750 }} 750w,{%- endif -%}
            {%- if collection.image.width >= 1070 -%}{{ collection.image | image_url: width: 1070 }} 1070w,{%- endif -%}
            {%- if collection.image.width >= 1500 -%}{{ collection.image | image_url: width: 1500 }} 1500w,{%- endif -%}
            {{ collection.image | image_url }} {{ collection.image.width }}w"
          src="{{ collection.image | image_url: width: 750 }}"
          sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc(50vw - 130px), calc(50vw - 55px)"
          alt="{{ collection.title | escape }}"
          width="{{ collection.image.width }}"
          height="{{ collection.image.height }}"
        >
      </div>
    {%- endif -%}
  </div>
</div>
<style>
  .collection-hero {
    {% if section.settings.background_color %} background: {{ section.settings.background_color }} {% endif %}
  }
  .collection-hero h1 {
    {% if section.settings.text_color %} color: {{ section.settings.text_color }}; {% endif %}
  }
</style>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
      "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "default": "#333333",
      "label": "Background Color"
    },
    {
      "type": "color",
      "id": "text_color",
      "default": "#000000",
      "label": "Text Color"
    },
    {
      "type": "text",
      "id": "font_family",
      "default": "'Helvetica Neue'",
      "label": "Font Family"
    },
    {
      "type": "text",
      "id": "font_weight",
      "default": "300",
      "label": "Font Weight"
    },
    {
      "type": "text",
      "id": "desktop_font_size",
      "default": "30px",
      "label": "Desktop Font Size"
    },
    {
      "type": "text",
      "id": "mobile_font_size",
      "default": "20px",
      "label": "Mobile Font Size"
    },
    {
      "type": "text",
      "id": "margin_top",
      "default": "0",
      "label": "Margin Top"
    },
    {
      "type": "text",
      "id": "margin_right",
      "default": "0",
      "label": "Margin Right"
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "default": "0",
      "label": "Margin Bottom"
    },
    {
      "type": "text",
      "id": "margin_left",
      "default": "0",
      "label": "Margin Left"
    },
    {
      "type": "text",
      "id": "mobile_margin_top",
      "default": "0",
      "label": "Mobile Margin Top"
    },
    {
      "type": "text",
      "id": "mobile_margin_right",
      "default": "0",
      "label": "Mobile Margin Right"
    },
    {
      "type": "text",
      "id": "mobile_margin_bottom",
      "default": "0",
      "label": "Mobile Margin Bottom"
    },
    {
      "type": "text",
      "id": "mobile_margin_left",
      "default": "0",
      "label": "Mobile Margin Left"
    }
  ]
}
{% endschema %}
