{%- assign tp_skip = false -%}
{%- assign filter_tag = section.settings.filter_tag | strip -%}
{%- assign related_blog = section.settings.blog | default: blank -%}
{%- if related_blog != blank -%}
  {%- assign blog_object = blogs[related_blog] -%}
{%- endif -%}

{%- assign articles_found = 0 -%}
{%- capture article_links -%}
  {%- if filter_tag != blank -%}
    {%- if blog_object -%}
      {%- assign blogs_to_check = blog_object | array -%}
    {%- else -%}
      {%- assign blogs_to_check = blogs -%}
    {%- endif -%}

    {%- for blog in blogs_to_check -%}
      {%- for article in blog.articles -%}
        {%- if article.tags contains filter_tag and article.url != request.path -%}
          {%- assign articles_found = articles_found | plus: 1 -%}
          <a
            class="minimal_button"
            style="display: inline-block; margin-right: 20px; border: 1px solid black;"
            href="{{ article.url }}">
            {{ article.title }}
          </a>
          {%- if articles_found == 10 -%}
            {%- break -%}
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}
      {%- if articles_found == 10 -%}
        {%- break -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
{%- endcapture -%}
{%- if articles_found > 0 -%}
  <div>
    <h2>
      Related Results
    </h2>
    {{ article_links }}
  </div>
{%- elsif section.blocks.size > 0 -%}
  <div>
    <h2>
      Related Results
    </h2>
    {%- for block in section.blocks -%}
      <a
        class="minimal_button"
        style="display: inline-block; margin-right: 20px; border: 1px solid black;"
        href="{{ block.settings.url }}">
        {{ block.settings.text }}
      </a>
    {%- endfor -%}
  </div>
{%- else -%}
  {%- assign tp_skip = true -%}
{%- endif -%}

{%- if tp_skip != true -%}
  <style>
    .tp_related_results {
      padding: {{ section.settings.tp_margin_top_bottom }}
      {{ section.settings.tp_margin_left_right }};
      border-top: 1px solid{{ section.settings.turnpup_top_border_color }};
    }
    main > .shopify-section.tp_related_results:last-of-type {
      padding-bottom: {{ section.settings.tp_margin_top_bottom }};
    }
    .tp_related_results p,
    .tp_related_results button.read-more-button {
      font-size: {{ section.settings.turnpup_text_size }};
    }
    .tp_related_results h2 {
      font-size: {{ section.settings.turnpup_title_size }};
    }
    @media screen and (max-width: 700px) {
      .tp_related_results {
        padding: {{ section.settings.tp_mobile_margin_top_bottom }}
        {{ section.settings.tp_mobile_margin_left_right }};
      }
      .tp_related_results p,
      .tp_related_results button.read-more-button {
        font-size: {{ section.settings.turnpup_mobile_text_size }};
      }
      .tp_related_results h2 {
        font-size: {{ section.settings.turnpup_mobile_title_size }};
      }
    }
  </style>
{%- endif -%}

{% schema %}
  {
    "name": "TP Related Results (Tag)",
    "class": "tp_related_results",
    "settings": [
      {
        "type": "blog",
        "id": "blog",
        "label": "Blog source",
        "info": "Optional. Leave blank to search all blogs."
      },
      {
        "type": "text",
        "id": "filter_tag",
        "label": "Tag to filter by",
        "info": "The first 10 posts with this tag from the selected blog (or all blogs if none selected) will render."
      },
      {
        "type": "text",
        "id": "text_alignment",
        "label": "Text Alignment",
        "default": "left"
      },
      {
        "type": "text",
        "id": "turnpup_title_size",
        "label": "Heading Font Size (e.g. 24px)",
        "default": "24px"
      }, {
        "type": "text",
        "id": "turnpup_mobile_title_size",
        "label": "Mobile: Heading Font Size (e.g. 24px)",
        "default": "24px"
      }, {
        "type": "color",
        "id": "turnpup_title_color",
        "label": "Title Color",
        "default": "#3C64B1"
      }, {
        "type": "text",
        "id": "turnpup_text_size",
        "label": "Text Font Size (e.g. 18px)",
        "default": "18px"
      }, {
        "type": "text",
        "id": "turnpup_mobile_text_size",
        "label": "Mobile: Text Font Size (e.g. 18px)",
        "default": "16px"
      }, {
        "type": "color",
        "id": "turnpup_text_color",
        "label": "Text Color",
        "default": "#373F41"
      }, {
        "type": "text",
        "id": "turnpup_note_text_size",
        "label": "Note Font Size (e.g. 18px)",
        "default": "18px"
      }, {
        "type": "text",
        "id": "turnpup_mobile_note_text_size",
        "label": "Mobile: Note Font Size (e.g. 18px)",
        "default": "16px"
      }, {
        "type": "color",
        "id": "turnpup_note_text_color",
        "label": "Note Text Color",
        "default": "#373F41"
      }, {
        "type": "text",
        "id": "turnpup_note_text_weight",
        "label": "Note Text Color",
        "default": "700"
      }, {
        "type": "text",
        "id": "tp_margin_top_bottom",
        "label": "Margin top / bottom",
        "default": "100px"
      }, {
        "type": "text",
        "id": "tp_margin_left_right",
        "label": "Margin left / right",
        "default": "40px"
      }, {
        "type": "text",
        "id": "tp_mobile_margin_top_bottom",
        "label": "Mobile: Margin top / bottom",
        "default": "60px"
      }, {
        "type": "text",
        "id": "tp_mobile_margin_left_right",
        "label": "Mobile: Margin left / right",
        "default": "20px"
      }, {
        "type": "color",
        "id": "turnpup_header_background",
        "label": "Header Background",
        "default": "#FFF8F1"
      }, {
        "type": "color",
        "id": "turnpup_text_background",
        "label": "Text Background",
        "default": "#FFF8F1"
      }, {
        "type": "url",
        "id": "link",
        "label": "Image link"
      }, {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      }, {
        "type": "text",
        "id": "turnpup_button_size",
        "label": "Button Font Size",
        "default": "18px"
      }, {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }, {
        "type": "color",
        "id": "color_text",
        "label": "Text",
        "default": "#ffffff"
      }, {
        "type": "color",
        "id": "color_accent",
        "label": "Accent",
        "default": "#F4B237"
      }, {
        "type": "color",
        "id": "turnpup_hover_txt_color",
        "label": "Hover Text Color",
        "default": "#F4B237"
      }, {
        "type": "color",
        "id": "turnpup_hover_background_color",
        "label": "Hover Background Color",
        "default": "#ffffff"
      }, {
        "type": "color",
        "id": "turnpup_top_border_color",
        "label": "Top Border Color",
        "default": "#F4B237"
      }, {
        "type": "color",
        "id": "turnpup_bottom_border_color",
        "label": "Bottom Border Color",
        "default": "#F4B237"
      }
    ],
    "blocks": [
      {
        "type": "link_block",
        "name": "Link Block",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Text",
            "default": "Cabinet Knobs"
          }, {
            "type": "url",
            "id": "url",
            "label": "URL",
            "default": "/collections"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "TP Related Results (Blog Tag)",
        "category": "Advanced layout"
      }
    ]
  }
{% endschema %}
