{% schema %}
  {
    "name": "Marquee - turnpup",
    "class": "turnpup-marquee",
    "settings": [
  		{
        "type": "header",
        "content": "Module",
        "info": "Options for the overall module"
      },
      {
      "type": "text",
      "id": "container_width",
      "label": "Module Width",
      "default": "65%"
      },
      {
        "type": "range",
        "id": "container_top_margin",
        "min": 0,
        "max": 200,
        "step": 10,
        "unit": "px",
        "label": "Spacing at top of Module.",
        "default": 20
      },
      {
        "type": "range",
        "id": "container_bottom_margin",
        "min": 0,
        "max": 200,
        "step": 10,
        "unit": "px",
        "label": "Spacing at bottom of Module.",
        "default": 20
      },
      {
	      "type": "header",
	      "content": "Colors",
	      "info": "Color options for the module"
	    },
	    {
			"type": "color",
			"id": "module_background_color",
			"label": "Module Background Color",
			"default": "#0c2a4a"
      },
      {
        "type": "color",
        "id": "header_text_color",
        "label": "Header Text Color",
        "default": "#B4ECFF"
      },
      {
        "type": "header",
        "content": "Header Text",
        "info": "The text that shows above the carousel of logos"
      },
      {
        "type": "text",
        "id": "header_text",
        "label": "Header Text",
        "default": "As raved about in:"
      },
      {
        "type": "text",
        "id": "header_font_size",
        "label": "Header Desktop Text Size",
        "default": "40px"
      },
      {
        "type": "text",
        "id": "header_mobile_font_size",
        "label": "Header Mobile Text Size",
        "default": "22px"
      },
      {
        "type": "font_picker",
        "id": "header_font_family",
        "label": "Header Text Size",
        "default": "assistant_n4"
      },
      {
        "type": "text",
        "id": "header_font_weight",
        "label": "Header Font Weight",
        "default": "800"
      },
      {
        "type": "header",
        "content": "Logos",
        "info": "This section has settings for the logos"
      },
			{
				"type": "text",
				"id": "desktop_logo_height",
				"label": "Desktop Logo Height (e.g. 80px)",
				"default": "50px"
			},
			{
				"type": "text",
				"id": "mobile_logo_height",
				"label": "Mobile Logo Height (e.g. 30px)",
				"default": "30px"
			},
      {
        "type": "range",
        "id": "desktop_space_between",
        "min": 0,
        "max": 200,
        "step": 10,
        "unit": "px",
        "label": "Desktop Space Between Logos",
        "default": 20
      },
      {
        "type": "range",
        "id": "mobile_space_between",
        "min": 0,
        "max": 200,
        "step": 10,
        "unit": "px",
        "label": "Mobile Space Between Logos",
        "default": 20
      }
		],
		"blocks": [
			{
				"name": "Logo",
				"type": "logo",
				"settings": [
					{
						"type": "header",
						"content": "Logo",
						"info": "_"
					},
					{
						"type": "image_picker",
						"id": "logo",
						"label": "Logo"				
					},
					{
						"type": "text",
						"id": "link_to_article",
						"label": "Link to Article",
            "default": "https://flwrmarket.com"				
					},
					{
						"type": "product",
						"id": "product",
						"label": "Product to Link To"
					}
				]
			}
	    ],
		"presets": [
		  {
		    "name": "FLWR PR Marquee",
		    "category": "PR",
		    "blocks": [

		    ]
      }
    ]
  }
{% endschema %}
<div class="flwr-pr-marquee-container">
  <p class="flwr-title"> {{ section.settings.header_text}} </p>
  <div class="marquee">
    <div class="marquee__inner">
      {% for block in section.blocks %}
      {%- if block.settings.product -%} {%- assign use_link = block.settings.product.url -%} {%- else -%} {%- assign use_link = block.settings.link_to_article -%} {%- endif -%}
        <a aria-label="{{ block.settings.logo.alt }}" class="flwr-marquee" target="_new" href="{{use_link}}"><img alt="{{ block.settings.logo.alt }}" src="{{ block.settings.logo | img_url: '400x400'}}"></a>
      {% endfor %}      
      {% for block in section.blocks %}
        {%- if block.settings.product -%} {%- assign use_link = block.settings.product.url -%} {%- else -%} {%- assign use_link = block.settings.link_to_article -%} {%- endif -%}
        <a aria-label="{{ block.settings.logo.alt }}" class="flwr-marquee"  target="_new" href="{{use_link}}"><img alt="{{ block.settings.logo.alt }}" src="{{ block.settings.logo | img_url: '400x400'}}"></a>
      {% endfor %}   
    </div>
  </div>
</div>

<style>  
.turnpup-marquee {
  background-color: {{ section.settings.module_background_color }};
}
.flwr-pr-marquee-container {
  padding: {{ section.settings.container_top_margin }}px 0 {{ section.settings.container_bottom_margin }}px;
  overflow: hidden;
}
.flwr-title {
  text-align: center;
  font-family: {{ section.settings.header_font_family }};
  font-size: {{ section.settings.header_font_size }};
  font-weight: {{ section.settings.header_font_weight }};
  max-width: {{ section.settings.container_width }};
  color: {{ section.settings.header_text_color }};
  margin: 0;
  line-height: 1.1;
}
.marquee {
    position: relative;
    overflow: hidden;
    --offset: 0vw;
    --move-initial: calc(-0% + var(--offset));
    --move-final: calc(-50% + var(--offset));
    width: 200%;
    line-height: 1;
}

.marquee__inner {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-around;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 10s linear infinite;
    animation-play-state: running;
}

  .flwr-marquee img {
    background-color: transparent;
    height: {{ section.settings.desktop_logo_height }};
  }
  .marquee__inner a {

  }

.marquee:hover .marquee__inner {
    animation-play-state: paused;
}

@keyframes marquee {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }

    100% {
        transform: translate3d(var(--move-final), 0, 0);
    }
}


  
  @media screen and (max-width: 700px) {                       
    .flwr-marquee img {
      height: {{ section.settings.mobile_logo_height }};      
      width: auto;
    }
    .marquee__inner a {

    }
    .flwr-title {
      font-size: {{ section.settings.header_mobile_font_size }};
    }
  }
</style>
