{% comment %}

  Should include all information about how to install this when someone buys it.
  - Docs: https://kenwheeler.github.io/slick/
  - Requires: Jquery 1.7+
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

  in theme.liquid head
  <!-- Add the slick-theme.css if you want default styling -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick.css"/>
  <!-- Add the slick-theme.css if you want default styling -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick-theme.css"/>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick.min.js"></script>
{% endcomment %}

{% schema %}
  {
    "name": "TPSP - Social Proof",
    "class": "social-proof-full-section",
    "settings": [
      {
        "type": "header",
        "content": "Alignment and Spacing",
        "info": "_"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Section Padding Top",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Section Padding Buttom",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_right",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Section Padding Right",
        "default": 0
      }, {
        "type": "range",
        "id": "padding_left",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "section Padding Left",
        "default": 0
      }, {
        "type": "range",
        "id": "mobile_padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Mobile Section Padding Top",
        "default": 0
      }, {
        "type": "range",
        "id": "mobile_padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Mobile Section Padding Buttom",
        "default": 0
      }, {
        "type": "range",
        "id": "mobile_padding_right",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Mobile Section Padding Right",
        "default": 0
      }, {
        "type": "range",
        "id": "mobile_padding_left",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Mobile section Padding Left",
        "default": 0
      }, {
        "type": "select",
        "id": "section_alignment",
        "label": "Alignment",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "Left"
          }, {
            "value": "center",
            "label": "Center"
          }, {
            "value": "right",
            "label": "Right"
          }
        ]
      }, {
        "type": "text",
        "id": "section_width",
        "label": "Section Width",
        "default": "90%"
      }, {
        "type": "range",
        "id": "quote_space_between",
        "min": 8,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Space Between '' and Quote",
        "default": 30
      }, {
        "type": "text",
        "id": "symbol_family",
        "label": "'' Font Samily"
      }, {
        "type": "text",
        "id": "symbol_weight",
        "label": "'' Font Weight",
        "default": "700"
      }, {
        "type": "header",
        "content": "Colors",
        "info": "_"
      }, {
        "type": "color",
        "id": "module_background_color",
        "label": "Module Background Color",
        "default": "#0c2a4a"
      }, {
        "type": "color",
        "id": "module_accent_color",
        "label": "Module Accent Color",
        "default": "#B4ECFF"
      }, {
        "type": "color",
        "id": "quote_color",
        "label": "Quote Text Color",
        "default": "#FFFFFF"
      }, {
        "type": "color",
        "id": "dots_unselected_color",
        "label": "Dots Unselected Color",
        "default": "#FFFFFF"
      }, {
        "type": "color",
        "id": "logo_color",
        "label": "Logo Color",
        "default": "#000000"
      }, {
        "type": "color",
        "id": "turnpup_bottom_border_color",
        "label": "Bottom Border Color",
        "default": "#F4B237"
      }, {
        "type": "header",
        "content": "Fonts",
        "info": "_"
      }, {
        "type": "text",
        "id": "quote_font_family",
        "label": "Quote Font Family",
        "default": "cooper-black-std, serif;"
      }, {
        "type": "text",
        "id": "quote_font_size",
        "label": "Quote Font Size",
        "default": "48px"
      }, {
        "type": "text",
        "id": "m_quote_font_size",
        "label": "Mobile Quote Font Size",
        "default": "24px"
      }, {
        "type": "range",
        "id": "space_between",
        "min": 8,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Space Between",
        "default": 30
      }, {
        "type": "text",
        "id": "who_said_it_font_family",
        "label": "Who Said it Font Family",
        "default": "cooper-black-std, serif;"
      }, {
        "type": "text",
        "id": "who_said_it_font_size",
        "label": "Who Said it Font Size",
        "default": "24px"
      }, {
        "type": "text",
        "id": "m_who_said_it_font_size",
        "label": "Mobile: Who Said it Font Size",
        "default": "12px"
      }
    ],
    "blocks": [
      {
        "name": "Social Proof - FULL",
        "type": "space",
        "settings": [
          {
            "type": "header",
            "content": "Quote",
            "info": "_"
          }, {
            "type": "text",
            "id": "quote_text",
            "label": "Quote",
            "default": "The best product I've ever used."
          }, {
            "type": "text",
            "id": "who_said_it",
            "label": "Who Said It?",
            "default": "Vanity Fair"
          }, {
            "type": "image_picker",
            "id": "who_said_it_image",
            "label": "Image: Who Said It?"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "TPSP - Social Proof",
        "category": "Advanced layout",
        "blocks": []
      }
    ]
  }
{% endschema %}


<script type="text/javascript">
  $(document).ready(function(){
    const slickOptions = {
      slidesToShow: 1,
      arrows: false,
      focusOnSelect: true,
      adaptiveHeight: true,
      dots: true,
      infinite: true
    }
    $('.social-slick').slick(slickOptions)

    window.addEventListener("resize", function(){
      $('.js-publications').not('.slick-initialized').slick(slickOptions);
    });
  })
</script>

{% assign quote_height = section.settings.who_said_it_font_size | remove: "px" %}
{% assign mobile_quote_height = section.settings.m_who_said_it_font_size | remove: "px" %}
<div
  class="social-proof social-proof-full"
  data-section-id="{{ section.id }}"
  data-section-type="social-proof-section"
  id="section-{{ section.id }}">
  <div class="quote-slider page-width">
    <div class="actual-quote">
      <p>"</p>
    </div>
    <div class="social-slick">
      {% for block in section.blocks %}
        <div class="container">
          <div class="quote">
            {{ block.settings.quote_text }}
          </div>
          {% if block.settings.who_said_it_image != blank %}
            <div class="quote_image_container">
              {{ block.settings.who_said_it_image | image_url: height: 100 | image_tag }}
            </div>
          {% elsif block.settings.who_said_it != blank %}
            <div class="who_said_it">
              {{ block.settings.who_said_it }}
            </div>
          {% endif %}
        </div>
      {% endfor %}
      {% if false %}
        <div style="display:inline-block;margin-right:60px;">
          {% for block in section.blocks %}
            {% if block.settings.who_said_it_image != blank %}
              {{ block.settings.who_said_it_image | image_url: height: quote_height | image_tag }}
            {% elsif block.settings.who_said_it != blank %}
              <div class="who_said_it">
                {{ block.settings.who_said_it }}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>

<style>
  #section-{{ section.id }} {
    padding-top: {{ section.settings.mobile_padding_top }}px;
    padding-right: {{ section.settings.mobile_padding_right }}px;
    padding-left: {{ section.settings.mobile_padding_left }}px;
    padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
  }

  @media screen and (min-width: 700px) {
    #section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-right: {{ section.settings.padding_right }}px;
      padding-left: {{ section.settings.padding_left }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  .social-proof {
    background-color: {{ section.settings.module_background_color }};
  }
  {% comment %} .social-proof img {
    width: revert-layer !important;
  }
{% endcomment %}
.quote-slider {
  padding: 6rem 5rem;
  {% if section.settings.section_alignment == 'center' %}
    margin: 0 auto;
  {% else %}
    margin: 0;
  {% endif %}
  margin: 0 auto;
  max-width: {{ section.settings.section_width }};
}
.actual-quote {
  max-width: 100%;
  margin: 0 auto{{ section.settings.quote_space_between }}px;
}
.actual-quote p {
  margin: 0;
  text-align: {{ section.settings.section_alignment }};
  font-size: {{ section.settings.quote_font_size }};
  color: {{ section.settings.quote_color }};
  line-height: 0;
  font-weight: {{ section.settings.symbol_weight }};
  {% if section.settings.symbol_family != blank %}
    font-family: {{ section.settings.symbol_family }};
  {% endif %}
}
.social-slick .quote {
  font-size: {{ section.settings.quote_font_size }};
  text-align: {{ section.settings.section_alignment }};
  margin: 0 auto{{ section.settings.space_between}}px;
  font-family: {{ section.settings.quote_font_family }};
  font-weight: 800;
  line-height: 1.0;
  color: {{ section.settings.quote_color }};
}
.social-slick .who_said_it {
  font-size: {{ section.settings.who_said_it_font_size }};
  text-align: {{ section.settings.section_alignment }};
  margin: 0 auto;
  font-family: 'p22-mackinac-pro'
  , serif;
  font-weight: 400;
  font-family: {{ section.settings.who_said_it_font_family }};
  color: {{ section.settings. logo_color }};
}
.social-slick .slick-dots {
  margin-top: 2rem;
  position: relative;
  top: 0;
  text-align: {{ section.settings.section_alignment }};
}
.slick-dotted.slick-slider {
  margin-bottom: 0;
}
.slick-dots li button {
  margin-right: 0.5rem;
  height: 0.5rem;
  width: 1rem;
  cursor: pointer;
  border-radius: 1.5rem;
  background-color: {{ section.settings.dots_unselected_color }};
}
.slick-dots li.slick-active button:before {
  opacity: 0;
}
.slick-dots li button:before {
  opacity: 0;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 0;
}
.social-slick .slick-dots li.slick-active button {
  background-color: {{ section.settings.module_accent_color }};
}
.quote_image_container {
  height: {{ quote_height }}px;
}
.quote_image_container img {
  height: 100%;
  width: auto;
}
@media screen and (max-width: 700px) {
  .quote_image_container {
    height: {{ mobile_quote_height }}px;
  }

  .social-slick .who_said_it {
    font-size: 12px;
  }
  .quote-slider {
    padding: 3rem 2rem;
  }
  .actual-quote {
    max-width: 100%;
    margin: 0 auto{{ section.settings.quote_space_between |;
    text-align: {{ section.settings.section_alignment }};
  }
  .social-slick .quote {
    font-size: {{ section.settings.m_quote_font_size }};
    margin: 0 auto{{ section.settings.space_between |;
  }
}
</style>